<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Shop
        style
            include ../../Styles/header.css
            include ../../Styles/login.css
    body
        include ../includes/header        
        main
            h1 Create new Password
            section
                h4(class='error') #{errorMessage}
                form(action='/new-password' method='POST')
                    label(for="password") Password
                    input(type='password' name='password') 
                    label(for="confirm-password") Confirm Password
                    input(type='password' name='confirmPassword')
                    input(type="hidden", name="_csrf" value=csrfToken)
                    input(type="hidden", name="userId" value=userId)
                    input(type="hidden", name="token" value=token)
                    button(type='submit') SUBMIT
