<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Reset Password
        style
            include ../../Styles/header.css
            include ../../Styles/login.css
    body
        include ../includes/header        
        main
            h1 Reset Password
            section
                h4(class='error') #{errorMessage}
                form(action='/reset' method='POST')
                    label(for="reset-password") Email
                    input(type='email' name='email')
                    input(type="hidden", name="_csrf" value=csrfToken)
                    button(type='submit') Reset Password
                