<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
          include ../Styles/header.css
          include ../Styles/error.css
        title Not Found
    body
        include ./includes/header        
        main
          section
            br
            h1 Page not Found.
